<h1>Attendees list</h1>
  <% @attendees.each do |attendee| %>
    <%= attendee.name %>
    <%= link_to 'edit', edit_event_attendee_path(@event,attendee)%>
    <%= link_to 'destroy', event_attendee_path(@event,attendee), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
  <% end %>
