<h1>Attendees list</h1>
  <% @attendees.each do |attendee| %>
    <%= attendee.name %>
    <%= link_to t(".Edit"), edit_event_attendee_path(@event,attendee)%>
    <%= link_to t(".Destroy"), event_attendee_path(@event,attendee), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
  <% end %>
<%= link_to t(".Back"), event_path(@event)%>
